.u-visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.u-button-link-look {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

[tabindex="-1"]:focus {
  outline: none;
}

@media (prefers-reduced-motion: reduce) {

  * {
    animation: none !important;
    -webkit-animation: none !important;
  }
}

.user-prefers-reduced-motion-reduce {

  * {
    animation: none !important;
    -webkit-animation: none !important;
  }
}
