// Colors
$color-brand-primary: #2368a2;
$textcolor-brand-primary: #ffffff;

$brand-white: #ffffff;

$textcolor-content: #373a3c;
$textcolor-content-link: $color-brand-primary;

// Dimensions
$width-max: 62.5rem;
$width-max-content: 65rem;
